In [1]:
import pandas

In [2]:
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets.csv',
 'Untitled.ipynb',
 'supermarkets.xlsx',
 'supermarkets-semi-colons.txt',
 'supermarkets.json']

In [4]:
df1=pandas.read_csv("supermarkets.csv")

In [5]:
print df1

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-5-bf70a8ffc5c7>, line 1)

In [6]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
df1["Cotinent"]=["North America"]

ValueError: Length of values does not match length of index

In [10]:
len(df1.index)

6

In [11]:
df1["Cotinent"]=df1.shape[0]*["North America"]

In [12]:
df1

,ID,Address,City,State,Country,Name,Employees,Cotinent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [15]:
df1.shape[0]*["North America"]

['North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America']

In [19]:
df1["Cotinent"]=df1.["Country"]+"+""North America"

SyntaxError: invalid syntax (<ipython-input-19-eeac4fbddf46>, line 1)

In [20]:
df1["Cotinent"]=df1.shape[0]*["North America"]

In [24]:
df1["City"]=df1.["Country"]+ "," + "North America"

SyntaxError: invalid syntax (<ipython-input-24-4afbc29a8002>, line 1)

df1

In [26]:
df1

,ID,Address,City,State,Country,Name,Employees,Cotinent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [27]:
df1_t=df1.T

In [28]:
df1_t

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Cotinent,North America,North America,North America,North America,North America,North America

In [32]:
df1_t["6"]=["Feo","UA",10,7,"My shop","My State","My Continent","My"]

In [33]:
df1_t

,0,1,2,3,4,5,My Address,6
ID,1,2,3,4,5,6,Feo,Feo
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,UA,UA
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,10,10
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,7,7
Country,USA,USA,USA,USA,USA,USA,My shop,My shop
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,My State,My State
Employees,8,15,25,10,12,20,My Continent,My Continent
Cotinent,North America,North America,North America,North America,North America,North America,My,My

In [34]:
df1=df1_t.T

In [35]:
df1

,ID,Address,City,State,Country,Name,Employees,Cotinent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America
My Address,Feo,UA,10,7,My shop,My State,My Continent,My
6,Feo,UA,10,7,My shop,My State,My Continent,My